.loginContainer {
  display: flex;
  place-content: center;
  height: 1500px;
}

.wrapper {
  margin: 0 auto;
  width: 35rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  justify-items: center;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 5px 5px; */
}

.wrapper .heading h1 {
  font-weight: 700;
  font-size: 2rem;
}

.wrapper .social {
  padding: 2rem;
}

.wrapper .social .social-links {
  text-decoration: none;
  color: rgb(204, 225, 255);
  font-size: 1.3rem;
}

.wrapper .social .social-links > .fa-brands {
  border: 1px solid #e4e4e4;
  display: inline-block;
  border-radius: 60px;
  padding: 0.5em 0.6em;
  margin-left: 0.5rem;
  transition: all 0.5s ease;
}

.wrapper .social .social-links > .fa-brands:hover {
  background: rgb(231, 233, 238);
  color: #fff;
}


.form-group-login {
  margin-top: 20px;
  background-color: rgb(244, 229, 232);
  width: 110%;
  align-items: center;
  padding: 2.1rem 2rem;
  display: flex;
  flex-direction: column;
  
  justify-items: center;
  align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 5px 5px;
  }
  .form-group-login1 {
    margin-top: 20px;
    
   height: 95%;
    width: 110%;
    align-items: center;
    padding: 2.1rem 2rem;
    display: flex;
    flex-direction: column;
    
    justify-items: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 5px 5px;
  }

.form-group-login p {
  font-size: 0.9rem;
  opacity: 0.9;
  color: #212121;
  margin-bottom: 0.6rem;
}
.form-group-login1 p {
    font-size: 0.9rem;
    opacity: 0.9;
    color: #212121;
    margin-bottom: 0.6rem;
  }

.form-group-login > input {
  padding: 0.7rem 0.1rem;
  margin-bottom: 0.9rem;
  border: none;
  width: 100%;
}
.form-group-login1 > input {
    padding: 0.7rem 0.1rem;
    margin-bottom: 0.9rem;
    border: none;
    width: 100%;
  }

.form-group-login > input:focus {
  background: #eee;
}
.form-group-login1 > input:focus {
    background: #eee;
  }
  
.form-group-login > ::placeholder {
  background: #eeeeee;
  padding: 0.7rem 0.2rem;
  text-transform: capitalize;
}
.form-group-login1 > ::placeholder {
    background: #eeeeee;
    padding: 0.7rem 0.2rem;
    text-transform: capitalize;
  }
.btn {
  font-size: 0.9rem;
  text-decoration: none;
}

.btn-forget {
  color: #212121;
  margin-bottom: 1rem;
}

.btn-login {
  background-color: #ebd79c;
  display: inline-block;
  height: 30px;
  width: 156px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.btn-login:hover {
  background: #fff;
  background-color: rgb(149, 195, 223);
}
